@using Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoMvc.Website.Extensions;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<RecipeArea>
@{
    Layout = "Master.cshtml";

    var items = Model.Children<Recipe>()?.Take(3) ?? [];
}
<h1>@(Model.Title ?? Model.Name)</h1>
<div>@Model.Text</div>
<div class="recipe-showcase">
    <h3>Most popular items</h3>
    <div class="recipe-cards">
        @foreach (var recipe in items)
        {
            var itemName = !string.IsNullOrWhiteSpace(recipe.ListTitle)
                ? recipe.ListTitle
                : !string.IsNullOrWhiteSpace(recipe.Title)
                    ? recipe.Title
                    : recipe.Name;
            var description = !string.IsNullOrWhiteSpace(recipe.ListDescription)
                ? recipe.ListDescription
                : recipe.Intro?.ShortenTo100WithDots();

            <div class="recipe-card">
                <a href="@recipe.Url()">
                    <h4>@itemName</h4>
                    <div>
                        @if (recipe.ListImage != null)
                        {
                            <img src="@recipe.ListImage.Url()" alt="@recipe.ListImage.Name"/>
                        }
                        <p>@description</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>