@using Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoMvc.Core.Extensions
@using UmbracoMvc.Models
@using UmbracoMvc.Models.ViewModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<RecipeAreaViewModel>
@{
    Layout = "HijackMaster.cshtml";
}

<h1>@Model.Heading</h1>
<div>
    @Model.Text
</div>
<div class="recipe-showcase">
    <h3>Most popular items</h3>
    <div class="recipe-cards">
        @foreach (var recipe in Model.PopularRecipes)
        {
            <div class="recipe-card">
                <a href="@recipe.Url">
                    <h4>@recipe.Heading</h4>
                    <div>
                        @if (recipe.ImageUrl != null)
                        {
                            <img src="@recipe.ImageUrl" alt="@recipe.ImageAlt" />
                        }
                        <p>@recipe.Description</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>